In [787]:
#1. Import Libraries\

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Disclaimer: I hsd to manually swap column 'Density\n(P/Km2)' to 'Density/n(P/Km2)'

The \n was making it difficult to work with the dataframe

In [788]:
# creating and empty DataFrame:
df = pd.DataFrame()

# loading a CSV file from local device and store it in a pandas DataFrame:
#data_types = {'Density/n(P/Km2)': 'float64'}
df = pd.read_csv('global-data-on-sustainable-energy.csv')#, dtype=data_types)
df['Density/n(P/Km2)'] = df['Density/n(P/Km2)'].replace(',', '', regex=True).astype(float)

In [789]:
#df[0::19] # we Only have 19 countries with a full list and no missing values, this is an issue, So lets see how many missing values we actually have

# View variable characteristics (number of null values, data names, data types)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density/n(P/Km2)                                                  3648 non-null   float64
 18  Land Area(Km2)                                                    3648 non-null   float64
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 598.8+ KB
None

<h1>Feature transformations</h1>
<h4>In this section we will transform the NaN or null features and try different values to achieve a better result</h4>

In [790]:
#Get mean values for whole table ignoring NaN values
#this is a test to use nanmean


access = df["Access to electricity (% of population)"]
print(np.nanmean(access))
print("access nanmean = ",np.nanmean(access))
print("access mean = ",np.mean(access))
access

78.93370216207748
access nanmean =  78.93370216207748
access mean =  78.93370216207742

0       1.614
1       4.075
2       9.409
3      14.739
4      20.065
        ...
3644   42.562
3645   44.179
3646   45.573
3647   46.781
3648   52.748
Name: Access to electricity (% of population), Length: 3649, dtype: float64

In [791]:
#Get mean values for whole table ignoring NaN values


renewPerCapita = df["Renewable-electricity-generating-capacity-per-capita"]
print("renewPerCapita nanmean = ",np.nanmean(renewPerCapita))
print("renewPerCapita mean = ",np.mean(renewPerCapita))
renewPerCapita

renewPerCapita nanmean =  113.13749816041205
renewPerCapita mean =  113.13749816041195

0       9.220
1       8.860
2       8.470
3       8.090
4       7.750
        ...
3644   62.880
3645   62.330
3646   82.530
3647   81.400
3648   80.610
Name: Renewable-electricity-generating-capacity-per-capita, Length: 3649, dtype: float64

In [792]:
pd.options.display.float_format = '{:,.3f}'.format

val = df.mean(axis=0,numeric_only=True,skipna=True)
val

#these are the avg values for each column

Year                                                                    2,010.038
Access to electricity (% of population)                                    78.934
Access to clean fuels for cooking                                          63.255
Renewable-electricity-generating-capacity-per-capita                      113.137
Financial flows to developing countries (US $)                     94,224,000.000
Renewable energy share in the total final energy consumption (%)           32.638
Electricity from fossil fuels (TWh)                                        70.365
Electricity from nuclear (TWh)                                             13.450
Electricity from renewables (TWh)                                          23.968
Low-carbon electricity (% electricity)                                     36.801
Primary energy consumption per capita (kWh/person)                     25,743.982
Energy intensity level of primary energy (MJ/$2017 PPP GDP)                 5.307
Value_co2_emissions_kt_by_country                                     159,866.463
Renewables (% equivalent primary energy)                                   11.987
gdp_growth                                                                  3.442
gdp_per_capita                                                         13,283.774
Density/n(P/Km2)                                                          223.573
Land Area(Km2)                                                        633,213.489
Latitude                                                                   18.246
Longitude                                                                  14.823
dtype: float64

In [793]:
#lets fill the nan values with average values for each column

df_filled_with_averages = df.fillna(df.mean())

print(df_filled_with_averages.info())

C:\Users\lucca\AppData\Local\Temp\ipykernel_84392\2489947689.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_filled_with_averages = df.fillna(df.mean())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3649 non-null   float64
 3   Access to clean fuels for cooking                                 3649 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              3649 non-null   float64
 5   Financial flows to developing countries (US $)                    3649 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3649 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3649 non-null   float64
 8   Electricity from nuclear (TWh)                                    3649 non-null   float64
 9   Electricity from renewables (TWh)                                 3649 non-null   float64
 10  Low-carbon electricity (% electricity)                            3649 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3649 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3649 non-null   float64
 14  Renewables (% equivalent primary energy)                          3649 non-null   float64
 15  gdp_growth                                                        3649 non-null   float64
 16  gdp_per_capita                                                    3649 non-null   float64
 17  Density/n(P/Km2)                                                  3649 non-null   float64
 18  Land Area(Km2)                                                    3649 non-null   float64
 19  Latitude                                                          3649 non-null   float64
 20  Longitude                                                         3649 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 598.8+ KB
None

In [794]:
#print(df_filled_with_averages['Density/n(P/Km2)'].unique())

In [795]:
#lets run some tests
#I want to be able to separate the df based on a year cutoff since this is a time series
print(df["Year"].unique())

train_percent = 0.6#train percentage will be in range 0.5 to 0.85 so we have a minimum of 3 test data 
#every 0.5 train_percent advances 1 year from our scale

min_year = df["Year"].unique().min()
max_year = df["Year"].unique().max()

time_between = max_year - min_year
 
train_cutoff = int(min_year + train_percent * time_between)


train = df[df['Year'] <= train_cutoff]  # Train data: Year <= 2015
test = df[df['Year'] > train_cutoff]   # Test data: Year > 2015

train["Year"].max()

#from here we can separate the values based on year, Time series Achieved!
#Also we can use a similar method to separate df by country!
#so lets ignore this test and do the group separation

[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020]

2012

In [796]:
#Function created since I was repeating a bunch the same code

from sklearn.linear_model import LinearRegression
from sklearn import metrics


def GetRmseFromDF(myDf, columnsToDrop, targetColumn):

    for i in np.arange(0.5, 0.9, 0.05):#from 0.2 to 0.85 in increments of 0.05 mean in this case the range of our year
        train_cutoff = int(min_year + i * time_between)
        # print(train_cutoff)#shows range from 2010 to 2017, so working!
        train = myDf[myDf['Year'] <= train_cutoff]
        test = myDf[myDf['Year'] > train_cutoff]
        
        # print(train["Year"].info())# Confirming it works properly
        #now we create our train and test dfs based on the new split, maybe I can later find a more elegant method
        X_train = train.drop(columns=columnsToDrop)
        y_train = train[targetColumn]
        X_test = test.drop(columns=columnsToDrop)
        y_test = test[targetColumn]
        
        
        my_linreg = LinearRegression()
        my_linreg.fit(X_train, y_train)
        y_prediction = my_linreg.predict(X_test)

        # print(y_prediction)
        
        # Calculating "Mean Square Error" (MSE):
        mse = metrics.mean_squared_error(y_test, y_prediction)

        # Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
        rmse = np.sqrt(mse)

        print(f"{train_cutoff = }, {rmse = :.10f}")
    
    # print(X_test.shape)

In [797]:
#now lets drop the features with high nan values. lets check which ones had a high percentage of replacements

# Number of zero values in the dataset (in percent)
missing_values_df = df.isnull().sum() / df.shape[0] * 100.00
print(round(missing_values_df),2)

#we have 3 tables that stick out with more than 25% of missing values
#lets try and dop them before we redo the same calculations

Entity                                                              0.000
Year                                                                0.000
Access to electricity (% of population)                             0.000
Access to clean fuels for cooking                                   5.000
Renewable-electricity-generating-capacity-per-capita               26.000
Financial flows to developing countries (US $)                     57.000
Renewable energy share in the total final energy consumption (%)    5.000
Electricity from fossil fuels (TWh)                                 1.000
Electricity from nuclear (TWh)                                      3.000
Electricity from renewables (TWh)                                   1.000
Low-carbon electricity (% electricity)                              1.000
Primary energy consumption per capita (kWh/person)                  0.000
Energy intensity level of primary energy (MJ/$2017 PPP GDP)         6.000
Value_co2_emissions_kt_by_country                                  12.000
Renewables (% equivalent primary energy)                           59.000
gdp_growth                                                          9.000
gdp_per_capita                                                      8.000
Density/n(P/Km2)                                                    0.000
Land Area(Km2)                                                      0.000
Latitude                                                            0.000
Longitude                                                           0.000
dtype: float64 2

<h2>Target Column = "Renewable energy share in the total final energy consumption (%)"

In [798]:
#for now lets ignore country since we are making a prediction based on global values

targetColumn = "Renewable energy share in the total final energy consumption (%)"

columnsToDrop = ['Renewable energy share in the total final energy consumption (%)', 
                 'Entity']

print("dropped tables: None\n")
GetRmseFromDF(df_filled_with_averages, columnsToDrop, targetColumn)

dropped tables: None

train_cutoff = 2010, rmse = 14.8775200984
train_cutoff = 2011, rmse = 14.9168350829
train_cutoff = 2012, rmse = 15.0269779679
train_cutoff = 2013, rmse = 15.2103385571
train_cutoff = 2014, rmse = 15.4595995617
train_cutoff = 2015, rmse = 15.8627838763
train_cutoff = 2016, rmse = 16.4574375821
train_cutoff = 2017, rmse = 17.4746068002

In [799]:
#df_drop_features = df_filled_with_averages.drop(columns=['Renewables (% equivalent primary energy)', 'Financial flows to developing countries (US $)'])

#columns to drop:
# 'Renewable energy share in the total final energy consumption (%)', 
# 'Renewables (% equivalent primary energy)', 
# 'Financial flows to developing countries (US $)', 
# 'Entity'

columnsToDrop = ['Renewable energy share in the total final energy consumption (%)', 
                 'Entity',
                 'Financial flows to developing countries (US $)']

print("dropped tables:\n\t Financial flows to developing countries (US $)\n")
GetRmseFromDF(df_filled_with_averages, columnsToDrop, targetColumn)

dropped tables:
	 Financial flows to developing countries (US $)

train_cutoff = 2010, rmse = 14.8885361038
train_cutoff = 2011, rmse = 14.9491591505
train_cutoff = 2012, rmse = 15.0626475607
train_cutoff = 2013, rmse = 15.2451067129
train_cutoff = 2014, rmse = 15.5011029187
train_cutoff = 2015, rmse = 15.9059825943
train_cutoff = 2016, rmse = 16.5568191676
train_cutoff = 2017, rmse = 17.5785303560

In [800]:
#columns to drop:
# 'Renewable energy share in the total final energy consumption (%)', 
# 'Renewables (% equivalent primary energy)', 
# 'Financial flows to developing countries (US $)', 
# 'Entity'

columnsToDrop = ['Renewable energy share in the total final energy consumption (%)', 
                 'Entity',
                 'Financial flows to developing countries (US $)',
                 'Renewables (% equivalent primary energy)']

print("dropped tables:\n\t Financial flows to developing countries (US $)")
print("\t Renewables (% equivalent primary energy)\n")
GetRmseFromDF(df_filled_with_averages, columnsToDrop, targetColumn)

dropped tables:
	 Financial flows to developing countries (US $)
	 Renewables (% equivalent primary energy)

train_cutoff = 2010, rmse = 17.8497292274
train_cutoff = 2011, rmse = 17.7391092417
train_cutoff = 2012, rmse = 17.5837698556
train_cutoff = 2013, rmse = 17.5678636482
train_cutoff = 2014, rmse = 17.5227394016
train_cutoff = 2015, rmse = 17.7734197092
train_cutoff = 2016, rmse = 18.2375206324
train_cutoff = 2017, rmse = 19.0512627271

<h2>targetColumn = "Renewables (% equivalent primary energy)"

In [801]:
#now using renewables as the target actually really helped, the rmse is significantly better than before

targetColumn = "Renewables (% equivalent primary energy)"

columnsToDrop = ['Renewables (% equivalent primary energy)', 
                 'Entity',
                 'Latitude',
                 'Longitude']

print("dropped tables: None\n")
GetRmseFromDF(df_filled_with_averages, columnsToDrop, targetColumn)

dropped tables: None

train_cutoff = 2010, rmse = 11.0269414406
train_cutoff = 2011, rmse = 10.7898244878
train_cutoff = 2012, rmse = 10.3856145585
train_cutoff = 2013, rmse = 10.0588434755
train_cutoff = 2014, rmse = 9.5133916766
train_cutoff = 2015, rmse = 9.1998719497
train_cutoff = 2016, rmse = 8.9565719080
train_cutoff = 2017, rmse = 8.6865662333

In [802]:
columnsToDrop = ['Renewables (% equivalent primary energy)', 
                 'Entity',
                 'Financial flows to developing countries (US $)']

print("dropped tables:\n\t Financial flows to developing countries (US $)")
GetRmseFromDF(df_filled_with_averages, columnsToDrop, targetColumn)

dropped tables:
	 Financial flows to developing countries (US $)
train_cutoff = 2010, rmse = 11.0196573926
train_cutoff = 2011, rmse = 10.7418725584
train_cutoff = 2012, rmse = 10.3208086509
train_cutoff = 2013, rmse = 9.9783938102
train_cutoff = 2014, rmse = 9.4256436390
train_cutoff = 2015, rmse = 9.0977987770
train_cutoff = 2016, rmse = 8.7942223963
train_cutoff = 2017, rmse = 8.5522723981

In [803]:
columnsToDrop = ['Renewables (% equivalent primary energy)', 
                 'Entity',
                 'Financial flows to developing countries (US $)',
                 'Renewable energy share in the total final energy consumption (%)']

print("dropped tables:\n\t Financial flows to developing countries (US $)")
print("\t Renewable energy share in the total final energy consumption (%)\n")
GetRmseFromDF(df_filled_with_averages, columnsToDrop, targetColumn)

dropped tables:
	 Financial flows to developing countries (US $)
	 Renewable energy share in the total final energy consumption (%)

train_cutoff = 2010, rmse = 12.4888093059
train_cutoff = 2011, rmse = 12.1496045132
train_cutoff = 2012, rmse = 11.6346843478
train_cutoff = 2013, rmse = 11.2183162955
train_cutoff = 2014, rmse = 10.5338209328
train_cutoff = 2015, rmse = 10.1307409661
train_cutoff = 2016, rmse = 9.7186429661
train_cutoff = 2017, rmse = 9.3268321665

<h2>What if instead of avg I marked the value with 0 instead?

In [804]:
df_filled_with_zero = df.fillna(0)

print(df_filled_with_averages.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3649 non-null   float64
 3   Access to clean fuels for cooking                                 3649 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              3649 non-null   float64
 5   Financial flows to developing countries (US $)                    3649 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3649 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3649 non-null   float64
 8   Electricity from nuclear (TWh)                                    3649 non-null   float64
 9   Electricity from renewables (TWh)                                 3649 non-null   float64
 10  Low-carbon electricity (% electricity)                            3649 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3649 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3649 non-null   float64
 14  Renewables (% equivalent primary energy)                          3649 non-null   float64
 15  gdp_growth                                                        3649 non-null   float64
 16  gdp_per_capita                                                    3649 non-null   float64
 17  Density/n(P/Km2)                                                  3649 non-null   float64
 18  Land Area(Km2)                                                    3649 non-null   float64
 19  Latitude                                                          3649 non-null   float64
 20  Longitude                                                         3649 non-null   float64
dtypes: float64(19), int64(1), object(1)
memory usage: 598.8+ KB
None

In [805]:
#for now lets ignore country since we are making a prediction based on global values

targetColumn = "Renewable energy share in the total final energy consumption (%)"

columnsToDrop = ['Renewable energy share in the total final energy consumption (%)', 
                 'Entity']

print("dropped tables: None\n")
GetRmseFromDF(df_filled_with_zero, columnsToDrop, targetColumn)

dropped tables: None

train_cutoff = 2010, rmse = 18.1719085826
train_cutoff = 2011, rmse = 18.4140652412
train_cutoff = 2012, rmse = 18.9158333555
train_cutoff = 2013, rmse = 19.3858218050
train_cutoff = 2014, rmse = 20.0096268131
train_cutoff = 2015, rmse = 20.8164403314
train_cutoff = 2016, rmse = 22.0765703339
train_cutoff = 2017, rmse = 23.9929585455

In [806]:
#now using renewables as the target actually really helped, the rmse is significantly better than before

targetColumn = "Renewables (% equivalent primary energy)"

columnsToDrop = ['Renewables (% equivalent primary energy)', 
                 'Entity',
                 'Latitude',
                 'Longitude']

print("dropped tables: None\n")
GetRmseFromDF(df_filled_with_zero, columnsToDrop, targetColumn)

dropped tables: None

train_cutoff = 2010, rmse = 12.9904906121
train_cutoff = 2011, rmse = 12.6840377439
train_cutoff = 2012, rmse = 12.2475180268
train_cutoff = 2013, rmse = 11.9354142292
train_cutoff = 2014, rmse = 11.3945647047
train_cutoff = 2015, rmse = 11.1851567420
train_cutoff = 2016, rmse = 10.9820819225
train_cutoff = 2017, rmse = 10.9698692882

In [807]:
#df_filled_with_zero_drop = df_filled_with_zero.drop(columns=['Renewable-electricity-generating-capacity-per-capita',  'Renewable-electricity-generating-capacity-per-capita'])

columnsToDrop = ['Renewables (% equivalent primary energy)', 'Entity']
targetColumn = "Renewables (% equivalent primary energy)"

GetRmseFromDF(df_filled_with_zero, columnsToDrop, targetColumn)

train_cutoff = 2010, rmse = 13.2583220779
train_cutoff = 2011, rmse = 12.9261471203
train_cutoff = 2012, rmse = 12.4487117239
train_cutoff = 2013, rmse = 12.1074094867
train_cutoff = 2014, rmse = 11.5234479306
train_cutoff = 2015, rmse = 11.2879007311
train_cutoff = 2016, rmse = 11.0583182279
train_cutoff = 2017, rmse = 11.0189457793

In [808]:

columnsToDrop = ['Renewable energy share in the total final energy consumption (%)', 'Renewables (% equivalent primary energy)', 'Financial flows to developing countries (US $)', 'Entity' ]
targetColumn = "Renewables (% equivalent primary energy)"

GetRmseFromDF(df_filled_with_zero, columnsToDrop, targetColumn)

train_cutoff = 2010, rmse = 14.7261397230
train_cutoff = 2011, rmse = 14.2934900869
train_cutoff = 2012, rmse = 13.6293565311
train_cutoff = 2013, rmse = 13.1453632688
train_cutoff = 2014, rmse = 12.3384287321
train_cutoff = 2015, rmse = 11.9517613309
train_cutoff = 2016, rmse = 11.5740008142
train_cutoff = 2017, rmse = 11.2212174058

As you can see out rmse is Quite bad. and the lower the cuttoff the better... meaning that its almost a guess at this point our prediction.

So lets now separate per country, while we wont have much data to train, we might have better results

In [809]:
# #Now lets try a basic logreg using these values
# #for this, lets first try a few different train test splits

# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression

# # Lists to store results
# test_sizes = []
# accuracies = []

# # Iterate through different test sizes
# for i in np.arange(0.5,1,0.05):
#     test_sizes.append(i)
    
    
#     # Split the data
#     X_train, X_test, y_train, y_test = train_test_split(df_features, Re_Percent, test_size=i, random_state=5)

#     # Train logistic regression model
#     model = LogisticRegression(max_iter=1000)
#     model.fit(X_train, y_train)
    
#     # Evaluate accuracy
#     accuracy = model.score(X_test, y_test)
#     accuracies.append(accuracy)

# # Find the best test size based on highest accuracy
# best_test_size = test_sizes[accuracies.index(max(accuracies))]
# best_accuracy = max(accuracies)

# print(f"Best test size: {best_test_size} with accuracy: {best_accuracy}")

<h1>Messing with DF tables of country</h1>

<h3>first I will try using the df filled with avgs</h3>
Then I will try filling the column withthe avg of its own country if possible otherwise try with 0 and global avg

In [810]:
#we can easily get the values of each country here
country_List = df['Entity'].unique()
# for country in country_List:
#     print(country)
# country_List

In [811]:
#rmse with fixed cutoff
def RmseWithFixedCutoff(myDf, cutoff, columnsToDrop, targetColumn):

    #separate trtain and test data based on the cutoff
    train = myDf[myDf['Year'] <= cutoff]
    test = myDf[myDf['Year'] > cutoff]
    
    #now we create our train and test dfs based on the new split, maybe I can later find a more elegant method
    X_train = train.drop(columns=columnsToDrop)
    y_train = train[targetColumn]
    X_test = test.drop(columns=columnsToDrop)
    y_test = test[targetColumn]
    
    
    my_linreg = LinearRegression()
    my_linreg.fit(X_train, y_train)

    if(X_test.shape[0] == 0):
        print(myDf['Entity'].unique(), " is missing features, please check")
    else:
        y_prediction = my_linreg.predict(X_test)

    # Calculating "Mean Square Error" (MSE):
        mse = metrics.mean_squared_error(y_test, y_prediction)

    # Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
        rmse = np.sqrt(mse)

    #print(f"{cutoff = }, {rmse = :.10f}")

        return rmse
    return None

In [812]:
# fill df with self averages if possible otherwise use given value
# if value = 0, fill with 0
# if value = 1, fill with global avg
# testTable = df[df['Entity'] == 'Aruba']


# val = testTable.mean(axis=0,numeric_only=True,skipna=True)

# vals will be the same as testTable but filled with avgs from the same table
# plus if still nan fill with 0 instead
# vals = testTable.fillna(val)
# vals = vals.fillna(0)

# vals
# df.fillna(df.mean())

def fillDataframe(dataframe, fill):
    val = dataframe.mean(axis=0,numeric_only=True,skipna=True)
    filled_df = pd.DataFrame()
    # FILL NAN WITH 0
    if(fill == 0):
        filled_df = dataframe.fillna(0)
    
    # FILL NAN WITH SELF AVGS, put 0 if there are stil nan values
    elif (fill == 1):
        filled_df = dataframe.fillna(val)
        filled_df = filled_df.fillna(0)

    # FILL NAN WITH GLOBAL AVGS
    elif (fill == 2):
        filled_df = dataframe.fillna(df.mean(numeric_only=True))

    return filled_df

In [813]:
# lets rewrite the RMSE function to have a fixed cutoff at 2017 and test each country individually 
# first based only on itself
# Then we can make it based on global numbers
# And finally we can use lat and long to make the prediction based on a given distance
cols_drop = ['Entity', 'Renewable energy share in the total final energy consumption (%)']
target = "Renewable energy share in the total final energy consumption (%)"

ct_rmse = []

for ct in country_List:
    ct_df = df[df['Entity'] == ct]

    avg_ct_df = fillDataframe(ct_df, 1)
    rmse_self_Avg = RmseWithFixedCutoff(avg_ct_df, 2017, cols_drop,target)

    zero_ct_df = fillDataframe(ct_df, 0)
    rmse_zero_fill = RmseWithFixedCutoff(zero_ct_df, 2017, cols_drop,target)

    global_ct_df = fillDataframe(ct_df, 2)
    rmse_global_Avg = RmseWithFixedCutoff(global_ct_df, 2017, cols_drop,target)

    ct_rmse.append([ct, rmse_self_Avg, rmse_zero_fill, rmse_global_Avg])

# Assuming ct_rmse contains the list of tuples (country, RMSE)
sorted_ct_rmse = sorted(ct_rmse, key=lambda x: x[1] if x[1] is not None else float('inf'))

# Print the sorted list of tuples (country, RMSE)
# for country, avg_rmse, zero_rmse, gl_rmse in sorted_ct_rmse:
#     print(f"Country: {country:<30} LocalRMSE: {avg_rmse:.10f}   ZeroRMSE: {zero_rmse:.10f}   GlobalRMSE: {gl_rmse:.10f}")

#rmse = RmseWithFixedCutoff(ctdf_filled, cols_drop, target)

#print(ct_rsme)

['French Guiana']  is missing features, please check
['French Guiana']  is missing features, please check
['French Guiana']  is missing features, please check

In [814]:
# Assuming sorted_ct_rmse contains the sorted list of tuples (country, avg_rmse, zero_rmse, gl_rmse)
print("RMSE VALUES ONLY USING DATA FROM WITHIN A COUNTRY")
print("-" * 80)  # Add a separator
print(f"{'Country':<30} {'LocalRMSE':<20} {'ZeroRMSE':<20} {'GlobalRMSE':<20}")  # Header for columns
print("-" * 80)  # Add a separator

for idx, (country, avg_rmse, zero_rmse, gl_rmse) in enumerate(sorted_ct_rmse, start=1):
    # Check for None values before formatting floats
    avg_rmse_str = f"{avg_rmse:.10f}" if avg_rmse is not None else "N/A"
    zero_rmse_str = f"{zero_rmse:.10f}" if zero_rmse is not None else "N/A"
    gl_rmse_str = f"{gl_rmse:.10f}" if gl_rmse is not None else "N/A"

    # Use a different style for odd rows
   
    print(f"{country:<30} {avg_rmse_str:<20} {zero_rmse_str:<20} {gl_rmse_str:<20}")

RMSE VALUES ONLY USING DATA FROM WITHIN A COUNTRY
--------------------------------------------------------------------------------
Country                        LocalRMSE            ZeroRMSE             GlobalRMSE
--------------------------------------------------------------------------------
Albania                        0.0000000000         0.0000000000         0.0000000000
Bahrain                        0.0000000000         0.0000000000         18.8436533361
Oman                           0.0000000000         0.0000000000         18.8436533361
Cayman Islands                 0.0111167614         0.0321613345         28.4836244476
Turkmenistan                   0.0153437185         0.1265644560         18.8723965749
Trinidad and Tobago            0.0337919831         0.4793348395         18.7992730451
Central African Republic       0.0864052620         53.8630661937        353.4971860491
Kuwait                         0.1465978692         0.1330657254         18.7117187143
Singapore                      0.1978210470         0.4493785390         18.1069710820
Canada                         0.1985234571         15.5544636589        5.4023795386
Bermuda                        0.2065688143         0.1761408085         17.5466633609
Qatar                          0.2343487614         0.7790933236         19.3718445753
Algeria                        0.2627694320         0.1780404127         18.8028436566
Azerbaijan                     0.2824705655         4.2020240831         25.8328123887
Nauru                          0.4213201793         0.5584119585         1379.7635789998
Uzbekistan                     0.4566089992         1.3202485229         19.3502645613
Mexico                         0.4838396011         9.0806840823         12.4675305155
Solomon Islands                0.6120083776         33.3025672316        832.0308403768
Iraq                           0.6646242680         2.2282834312         17.7147752732
Saudi Arabia                   0.6961228566         0.7050086208         18.3484359813
United Arab Emirates           0.7203729429         0.8469004442         18.0688340047
Saint Vincent and the Grenadines 0.7315465439         6.1688183783         17.8077989542
Egypt                          0.7432446294         5.8872037876         17.2906388271
Tunisia                        0.7603805236         25.8606207569        34.6858990827
Sudan                          0.7753330114         37.4855202034        18.2460362677
Maldives                       0.7858109817         3.1494308240         100.6888474376
Kiribati                       0.8324476320         45.2249832170        13444.4740624776
Guinea-Bissau                  0.9073115782         60.0711190456        3950.5782139099
South Africa                   1.0339972494         9.7210082708         12.6258279413
Kazakhstan                     1.0589010596         0.9506174450         18.6985885037
Japan                          1.0820906060         6.4515292286         13.3204544270
Antigua and Barbuda            1.0866476950         0.7570067272         11.1168133961
Puerto Rico                    1.1974984574         1.6270099959         15.0085659029
Philippines                    1.3309334498         26.9034334046        9.6642916936
Uganda                         1.4576644126         56.3120184147        72.1701163705
Burundi                        1.4605904217         57.0437852352        2132.4144760924
Nicaragua                      1.5075946405         34.5770773274        504.7087691984
Grenada                        1.5516455246         9.3085799948         10.8490236814
Austria                        1.5618945425         32.3232310721        23.4848978138
Kenya                          1.6181493851         60.6512577528        52.4047522342
Bahamas                        1.6892613319         2.0952829845         17.6291531971
Mauritius                      1.6985987062         21.2333371462        1089.1715718354
Chad                           1.7130483975         46.8834861416        159.1936438071
Ghana                          1.7334151172         22.6066885020        93.7968631968
Switzerland                    1.8078867254         20.9089656675        19.2753398348
Malaysia                       1.8189024718         3.6424812696         18.6661580811
Tonga                          1.8237646980         1.4530679764         1261.7063515928
Chile                          1.8244322739         17.4711652944        14.6059244691
New Zealand                    1.8596667063         19.2952550882        15.7003163241
Romania                        1.8629697521         27.8975197764        24.7744514429
Mauritania                     1.8738112113         26.0820797289        479.0394847466
Czechia                        1.9411920941         16.6082644765        14.0418078142
Sierra Leone                   1.9426791351         58.4684978687        2385.4116774141
Ukraine                        2.0539452839         8.5114447878         13.0741335048
Norway                         2.1806548519         57.0640143329        56.5113168002
Libya                          2.2651609094         1.8417026892         22.7929425100
Saint Lucia                    2.2845629861         9.1803548518         14.9733716081
Jamaica                        2.3039375729         2.8479936188         75.5696273216
Greece                         2.3486003890         11.6592113782        13.2653568470
Vanuatu                        2.4027441569         49.4183676469        25025.5455962677
Yemen                          2.4776803948         2.1758981947         16.5540016008
Hungary                        2.5266598254         13.2738749920        71.1834827025
Eritrea                        2.5497314132         68.0899444614        1641.8740316411
Lebanon                        2.5744293150         14.5559618783        66.8121699769
Thailand                       2.6005579148         36.8716492970        2.9001499816
North Macedonia                2.6232494098         10.1359740720        234.6770567667
Bangladesh                     2.6599028585         46.6721298120        34.3557816140
Argentina                      2.7268243241         10.3188095091        10.4129631216
Liberia                        2.7397691563         54.1858919576        373.4350621758
Turkey                         2.7583064736         8.4759639788         7.5293729266
Barbados                       2.8564920895         7.6933612315         1.7282478127
Ecuador                        2.9711939729         14.8036152860        32.0580391692
Poland                         3.0033073868         8.4151901916         7.0419863741
Jordan                         3.0569024827         6.7005644756         4.7068172139
Armenia                        3.0639274756         3.4375606051         35.8604602947
Dominica                       3.0849253093         13.7016610647        105.4446765246
Italy                          3.1259860748         6.6388938864         21.4645765542
Pakistan                       3.1598100782         55.6216747465        5.5428412973
Seychelles                     3.1735001181         2.9117774246         79.9873576917
Zimbabwe                       3.2243082053         10.7369201901        193.4326745031
Germany                        3.2257675048         3.5380941894         3.0163737675
New Caledonia                  3.2526702135         11.7859069114        431.6837348645
Mongolia                       3.2959483091         10.1759459455        111.2357521371
Malta                          3.3720540217         5.4613808036         349.9861530489
Paraguay                       3.3837170300         43.2462963641        351.8567345498
Slovenia                       3.3886972358         5.3163656681         17.9359240389
Dominican Republic             3.5293407146         17.3036656911        43.3258104349
South Sudan                    3.5321945030         45.7019144438        1038.8904349520
Angola                         3.5632963681         27.7416747566        65.9357654139
Colombia                       3.5956092229         13.9810218973        4.6438134290
Slovakia                       3.6175421728         8.8079523628         10.7016737327
Netherlands                    3.6352986845         6.8484682389         12.9148072539
Kyrgyzstan                     3.6997669917         21.2589981381        3.4004150499
Serbia                         3.7389226771         16.6205872365        47.6541327847
Malawi                         3.7769401722         48.0335587472        1002.0559374556
Zambia                         3.7951169202         56.9421775434        227.8711053776
Iceland                        3.9350455081         54.5382355847        610.1460444975
Bhutan                         3.9592092001         58.4722161086        1263.1840198510
Brazil                         3.9702775794         59.6473336388        27.4318348308
Spain                          4.3114160898         18.6445048016        10.0086635330
Botswana                       4.3563222755         42.3079250869        306.7855337493
United States                  4.3869511747         2.4066418990         15.9195948238
Nigeria                        4.4320653992         54.7519707483        28.9093687065
Gambia                         4.4720879449         50.5586185428        2.3577033731
El Salvador                    4.5866107998         7.3116266376         51.8605468822
Costa Rica                     4.6515318634         20.1728823547        436.4227052467
Burkina Faso                   4.8516958503         35.2933019042        183.3015048716
Luxembourg                     4.9221053687         16.7027087863        78.2896965322
Denmark                        5.0352507550         31.6068626100        33.7238005866
Aruba                          5.0794469463         16.8054137355        9.8543521291
Belarus                        5.1764278785         7.8515193710         23.9478008793
Mali                           5.2028017426         2.7982272126         103.0623539768
Australia                      5.2286905418         3.3245529353         4.3315172394
Congo                          5.2819449317         22.7253641346        16.1611790843
Cyprus                         5.3058619821         11.0916959162        155.6745308325
Belgium                        5.3837664519         8.0960972100         9.3492772070
Senegal                        5.6487102393         28.0698941591        466.8093618916
Peru                           5.7794622801         12.8086198349        2.5054099832
Rwanda                         5.8529005024         55.6053089386        809.7439457706
Honduras                       5.8895827394         38.7093764617        241.8183387375
Sweden                         5.9165065049         38.9560234045        22.3714635716
Finland                        5.9562588981         28.1865075961        4.7581362694
Nepal                          6.0706052592         56.9876799124        149.9150276699
Eswatini                       6.1763894815         47.7251059441        3825.5531222171
Namibia                        6.1954702554         50.1878949653        984.2972166920
Sao Tome and Principe          6.3166493956         60.0902912147        9511.3860334714
Benin                          6.3629859873         58.4549812728        599.7861448539
Ethiopia                       6.3813348537         64.0484452840        60.5776702308
Togo                           6.4773743159         49.7046747375        323.9722064443
Panama                         6.5498680391         24.3835243724        260.8264621396
Samoa                          6.5841140924         11.7417027484        3048.7249106921
Portugal                       6.6047907994         15.0531867367        18.9175143518
Croatia                        6.6086144085         8.7650784921         147.2258752353
Ireland                        6.6449094470         6.5383862042         4.5597836174
Cambodia                       6.6534561946         58.5872412118        17.1466502990
Tuvalu                         6.7522280749         81855499.4261616915  725571427756.1868896484
France                         6.8007983588         2.5878425281         4.6788867815
Cameroon                       6.9304669238         61.6805572721        276.2627897737
Latvia                         6.9715209190         19.3477876197        248.7672872844
Israel                         7.2297731836         11.5134057054        24.8787728792
Mozambique                     7.3057019178         36.2747146752        146.5899479639
Guinea                         7.3688968603         62.0426223330        742.1922737151
Bulgaria                       7.4601476444         9.4158282669         3.5504863915
Lithuania                      7.6699166720         20.0145103631        28.8560729075
Georgia                        8.2352330357         30.8539153787        597.6258621572
Suriname                       8.2774444744         28.8574586879        1868.3588155126
Papua New Guinea               8.4241941122         42.2102716988        95.9907591006
Uruguay                        8.5425700650         42.1077873874        646.5042845988
United Kingdom                 8.6826264209         7.5910118535         6.5018175765
China                          8.9535534492         20.4643935082        37.3980864447
Afghanistan                    8.9713481705         56.0105579406        156.1359547693
Myanmar                        10.7149928950        73.5049965951        83.8081543990
Bosnia and Herzegovina         11.0926767815        35.2635551062        185.6328850086
Guatemala                      11.2569571266        34.8974547305        325.0446919489
Somalia                        12.4175313798        55.1733542858        1445.0982280575
Indonesia                      12.5483854529        27.3449572382        21.6652456434
Equatorial Guinea              12.7115369695        17.6739073883        391.9172709547
Madagascar                     12.7671965436        76.0715651694        631.7714498231
Lesotho                        12.8582130288        32.5330619481        282.8205231806
Haiti                          14.7550015859        38.2155189270        380.4322466625
India                          15.5359275946        4.2100857780         30.9084122484
Comoros                        15.8544229841        28.3067792119        7928.1573746835
Sri Lanka                      16.4511500150        26.4441293003        14.1067611318
Montenegro                     16.6997969803        51.1799842713        3173.5459276721
Guyana                         17.8711905073        55.0246373936        2856.1870485528
Morocco                        18.1283378756        31.1939243847        81.1675115787
Cuba                           18.7430522315        45.4281881701        117.2646807802
Saint Kitts and Nevis          20.8712846216        24.1623024604        58.1613482143
Fiji                           21.5888264278        12.3832776098        828.9768477490
Djibouti                       22.7246078176        36.6085892785        4862.5586155463
Belize                         30.1168570482        49.3093253593        763.9906576956
Gabon                          31.4267835401        78.7845356897        42.0313228912
Estonia                        31.7397674077        39.9474259298        103.5281991943
Tajikistan                     38.3520573080        98.5892740371        635.0202055777
Niger                          109.3078725069       148.4441683826       851.0689015757
French Guiana                  N/A                  N/A                  N/A

In [815]:
#getting diffeerence in shapes
for ct in country_List:
    ct_df = df[df['Entity'] == ct]
    if(ct_df.shape[0] != 21):
        print(ct,"_df has a different shape, ", ct_df.shape)

French Guiana _df has a different shape,  (1, 21)
Montenegro _df has a different shape,  (14, 21)
Serbia _df has a different shape,  (14, 21)

South Sudan _df has a different shape,  (8, 21)

<h1>Lets experiment with distance based on LATITUDE and LONGITUDE</h1>

In [816]:
from math import radians, sin, cos, sqrt, atan2

# Function to calculate distance between two lat-long points using Haversine formula
def calculate_distance(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = radians(lat1)
    lon1_rad = radians(lon1)
    lat2_rad = radians(lat2)
    lon2_rad = radians(lon2)
    
    # Calculate differences in coordinates
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    
    # Haversine formula to calculate distance
    a = sin(dlat / 2)**2 + cos(lat1_rad) * cos(lat2_rad) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    
    return distance

In [817]:
# Function to get rows within range of latitude and longitude from a specified country
def get_countries_within_range(df, country_name, range_km):
    country_row = df[df['Entity'] == country_name]
    if country_row.empty:
        return pd.DataFrame()  # Return an empty DataFrame if country not found
    
    country_lat = country_row['Latitude'].iloc[0]
    country_lon = country_row['Longitude'].iloc[0]

    # Calculate distances and filter rows within range
    distances = df.apply(lambda row: calculate_distance(country_lat, country_lon, row['Latitude'], row['Longitude']), axis=1)
    nearby_countries = df[distances <= range_km]
    
    return nearby_countries

In [818]:
for country in country_List:
    nearby_rows = get_countries_within_range(df, country, 1000)
    print(f"{country}: rows in df {nearby_rows.shape[0]}")

#this is a slow process unfortunately, but it gets the job done. so from here, lets repeat the previous step
#later we can test with different distances

Afghanistan: rows in df 105

Albania: rows in df 301
Algeria: rows in df 63
Angola: rows in df 42
Antigua and Barbuda: rows in df 210
Argentina: rows in df 63
Armenia: rows in df 105
Aruba: rows in df 210
Australia: rows in df 21
Austria: rows in df 406
Azerbaijan: rows in df 84
Bahamas: rows in df 84
Bahrain: rows in df 126
Bangladesh: rows in df 84
Barbados: rows in df 210
Belarus: rows in df 252
Belgium: rows in df 252
Belize: rows in df 126
Benin: rows in df 105
Bermuda: rows in df 21
Bhutan: rows in df 84
Bosnia and Herzegovina: rows in df 385
Botswana: rows in df 126
Brazil: rows in df 21
Bulgaria: rows in df 280
Burkina Faso: rows in df 126
Burundi: rows in df 84
Cambodia: rows in df 63
Cameroon: rows in df 105
Canada: rows in df 21
Cayman Islands: rows in df 42
Central African Republic: rows in df 42
Chad: rows in df 21
Chile: rows in df 42
China: rows in df 21
Colombia: rows in df 63
Comoros: rows in df 63
Congo: rows in df 105
Costa Rica: rows in df 147
Croatia: rows in df 385
Cuba: rows in df 105
Cyprus: rows in df 147
Czechia: rows in df 427
Denmark: rows in df 273
Djibouti: rows in df 105
Dominica: rows in df 210
Dominican Republic: rows in df 168
Ecuador: rows in df 63
Egypt: rows in df 105
El Salvador: rows in df 126
Equatorial Guinea: rows in df 126
Eritrea: rows in df 84
Estonia: rows in df 189
Eswatini: rows in df 126
Ethiopia: rows in df 84
Fiji: rows in df 42
Finland: rows in df 147
France: rows in df 210
French Guiana: rows in df 0
Gabon: rows in df 105
Gambia: rows in df 105
Georgia: rows in df 84
Germany: rows in df 336
Ghana: rows in df 126
Greece: rows in df 259
Grenada: rows in df 231
Guatemala: rows in df 126
Guinea: rows in df 168
Guinea-Bissau: rows in df 126
Guyana: rows in df 126
Haiti: rows in df 147
Honduras: rows in df 147
Hungary: rows in df 427
Iceland: rows in df 21
India: rows in df 42
Indonesia: rows in df 21
Iraq: rows in df 189
Ireland: rows in df 84
Israel: rows in df 147
Italy: rows in df 343
Jamaica: rows in df 105
Japan: rows in df 21
Jordan: rows in df 147
Kazakhstan: rows in df 63
Kenya: rows in df 84
Kiribati: rows in df 21
Kuwait: rows in df 126
Kyrgyzstan: rows in df 84
Latvia: rows in df 210
Lebanon: rows in df 147
Lesotho: rows in df 84
Liberia: rows in df 105
Libya: rows in df 21
Lithuania: rows in df 273
Luxembourg: rows in df 294
Madagascar: rows in df 42
Malawi: rows in df 105
Malaysia: rows in df 63
Maldives: rows in df 42
Mali: rows in df 63
Malta: rows in df 161
Mauritania: rows in df 63
Mauritius: rows in df 21
Mexico: rows in df 21
Mongolia: rows in df 21
Montenegro: rows in df 343
Morocco: rows in df 63
Mozambique: rows in df 84
Myanmar: rows in df 84
Namibia: rows in df 63
Nauru: rows in df 21
Nepal: rows in df 63
Netherlands: rows in df 294
New Caledonia: rows in df 42
New Zealand: rows in df 21
Nicaragua: rows in df 147
Niger: rows in df 42
Nigeria: rows in df 147
North Macedonia: rows in df 301
Norway: rows in df 147
Oman: rows in df 84
Pakistan: rows in df 63
Panama: rows in df 105
Papua New Guinea: rows in df 21
Paraguay: rows in df 21
Peru: rows in df 42
Philippines: rows in df 21
Poland: rows in df 434
Portugal: rows in df 63
Puerto Rico: rows in df 231
Qatar: rows in df 126
Romania: rows in df 343
Rwanda: rows in df 92
Saint Kitts and Nevis: rows in df 231
Saint Lucia: rows in df 210
Saint Vincent and the Grenadines: rows in df 231
Samoa: rows in df 42
Sao Tome and Principe: rows in df 105
Saudi Arabia: rows in df 126
Senegal: rows in df 126
Serbia: rows in df 343
Seychelles: rows in df 21
Sierra Leone: rows in df 126
Singapore: rows in df 42
Slovakia: rows in df 448
Slovenia: rows in df 448
Solomon Islands: rows in df 42
Somalia: rows in df 63
South Africa: rows in df 105
South Sudan: rows in df 71
Spain: rows in df 63
Sri Lanka: rows in df 42
Sudan: rows in df 29
Suriname: rows in df 63
Sweden: rows in df 189
Switzerland: rows in df 329
Tajikistan: rows in df 105
Thailand: rows in df 63
Togo: rows in df 105
Tonga: rows in df 63
Trinidad and Tobago: rows in df 231
Tunisia: rows in df 84
Turkey: rows in df 189
Turkmenistan: rows in df 63
Tuvalu: rows in df 21
Uganda: rows in df 92
Ukraine: rows in df 182
United Arab Emirates: rows in df 126
United Kingdom: rows in df 147
United States: rows in df 21
Uruguay: rows in df 42
Uzbekistan: rows in df 126
Vanuatu: rows in df 63
Yemen: rows in df 84
Zambia: rows in df 63
Zimbabwe: rows in df 126

In [819]:
cols_drop = ['Entity', 'Renewable energy share in the total final energy consumption (%)']
target = "Renewable energy share in the total final energy consumption (%)"

ct_rmse_distance = []

for ct in country_List:
    ct_df_distance = get_countries_within_range(df, ct, 500)

    if(ct_df_distance.shape[0] > 21):

        avg_ct_df = fillDataframe(ct_df_distance, 1)
        rmse_self_Avg = RmseWithFixedCutoff(avg_ct_df, 2017, cols_drop,target)

        zero_ct_df = fillDataframe(ct_df_distance, 0)
        rmse_zero_fill = RmseWithFixedCutoff(zero_ct_df, 2017, cols_drop,target)

        global_ct_df = fillDataframe(ct_df_distance, 2)
        rmse_global_Avg = RmseWithFixedCutoff(global_ct_df, 2017, cols_drop,target)

        ct_rmse_distance.append([ct, rmse_self_Avg, rmse_zero_fill, rmse_global_Avg])

In [820]:
sorted_ct_rmse_distance = sorted(ct_rmse_distance, key=lambda x: x[1] if x[1] is not None else float('inf'))

In [821]:
# Assuming sorted_ct_rmse contains the sorted list of tuples (country, avg_rmse, zero_rmse, gl_rmse)
print("RMSE VALUES USING DATA FROM COUNTRIES WITHIN 500KM DISTANCE")
print("-" * 80)  # Add a separator
print(f"{'Country':<30} {'LocalRMSE':<20} {'ZeroRMSE':<20} {'GlobalRMSE':<20}")  # Header for columns
print("-" * 80)  # Add a separator

for idx, (country, avg_rmse, zero_rmse, gl_rmse) in enumerate(sorted_ct_rmse_distance, start=1):
    # Check for None values before formatting floats
    avg_rmse_str = f"{avg_rmse:.10f}" if avg_rmse is not None else "N/A"
    zero_rmse_str = f"{zero_rmse:.10f}" if zero_rmse is not None else "N/A"
    gl_rmse_str = f"{gl_rmse:.10f}" if gl_rmse is not None else "N/A"

    # Use a different style for odd rows
   
    print(f"{country:<30} {avg_rmse_str:<20} {zero_rmse_str:<20} {gl_rmse_str:<20}")

RMSE VALUES USING DATA FROM COUNTRIES WITHIN 500KM DISTANCE
--------------------------------------------------------------------------------
Country                        LocalRMSE            ZeroRMSE             GlobalRMSE
--------------------------------------------------------------------------------
Kuwait                         0.0173777728         0.0189127933         18.8408575550
Bahrain                        0.1129557526         0.1793029603         18.8360529535
United Arab Emirates           0.1390925568         0.1520412587         18.7503713662
Qatar                          0.1605576969         0.2447998168         18.7654828929
Oman                           0.2923119157         0.3329125409         18.6648049894
Malaysia                       1.1324754512         1.6661693995         16.9444222016
Singapore                      1.1324754512         1.6661693995         16.9444222016
Israel                         1.8791015358         8.7487243703         44.3587014295
Lebanon                        1.8791015358         8.7487243703         44.3587014295
Haiti                          2.1487667187         28.1142129847        139.7054325321
Trinidad and Tobago            2.7384696052         6.3809536292         9.6648589973
Grenada                        3.0838111615         7.2457291491         9.6272367334
Cyprus                         3.1266095215         2.6764587510         16.0692804267
Jordan                         3.4153813042         12.5646690086        58.4661836705
Cameroon                       3.6388776817         48.0561276152        19.8953525810
Nigeria                        3.6388776817         48.0561276152        19.8953525810
Turkey                         3.8637618818         8.8825163939         96.2246350598
Rwanda                         4.0824807533         52.1150220550        69.5014616848
Guinea                         4.3738758826         50.4699075011        307.6963725632
Liberia                        4.3738758826         50.4699075011        307.6963725632
Sierra Leone                   4.3738758826         50.4699075011        307.6963725632
Romania                        4.3791627310         20.4847441526        24.2793189876
Uganda                         4.5568582149         52.4035353996        15.0890355627
Armenia                        4.8550453350         16.6434763426        60.1139282676
Azerbaijan                     4.8550453350         16.6434763426        60.1139282676
Georgia                        4.8550453350         16.6434763426        60.1139282676
Antigua and Barbuda            5.0497725039         15.7798635825        10.2483100023
Poland                         5.1908068210         13.3946508278        8.5418299855
Portugal                       5.3447344445         12.2969267482        2.5847231555
Spain                          5.3447344445         12.2969267482        2.5847231555
Slovakia                       5.3890992470         20.8127081083        7.7490893038
Malta                          5.4566478488         13.1037773395        41.6020515997
Tunisia                        5.4566478488         13.1037773395        41.6020515997
Bulgaria                       5.4882575151         24.4924373824        27.0980967366
Montenegro                     5.4947243769         18.5182624577        36.9071926569
Dominica                       5.5193280248         13.2859886183        9.0822323244
Germany                        5.5950989990         15.0177181472        10.9369635830
Burundi                        5.7219026049         61.7386459093        1724.0925244173
France                         5.8377926561         12.0058930880        7.6556231393
Luxembourg                     5.8725994491         15.8030342655        10.4413100889
Costa Rica                     5.8966115304         27.1249144222        225.0008094565
Ireland                        6.0199406871         7.6372744667         7.5904178774
United Kingdom                 6.0199406871         7.6372744667         7.5904178774
Greece                         6.3138101611         17.7027707954        13.8296344761
Belgium                        6.3900147557         12.9395392359        8.8166400945
Albania                        6.4176944122         19.0901449592        41.3806691979
North Macedonia                6.4176944122         19.0901449592        41.3806691979
Congo                          6.5209002229         39.0593022180        39.8210887347
Czechia                        6.6766003787         16.9774013137        9.0741780206
Netherlands                    6.7143650672         12.9552261870        9.1531415349
Bosnia and Herzegovina         6.8114697853         16.6275716344        15.0034433491
Barbados                       6.8727323793         7.6905626503         15.0798602276
Saint Vincent and the Grenadines 6.8727323793         7.6905626503         15.0798602276
Sao Tome and Principe          6.9699370034         33.6322958945        404.2638852654
Austria                        7.2582847372         15.5472551998        9.0144856640
Italy                          7.5849153107         23.9542888179        10.5747154164
Croatia                        7.5975609505         21.7858148436        8.5152860395
Guyana                         7.6534668457         27.8668185309        1633.0526391531
Suriname                       7.6534668457         27.8668185309        1633.0526391531
Cuba                           7.7120811356         16.9273081180        108.0679518288
Hungary                        7.7858299671         16.0684304498        9.8596300029
Slovenia                       7.9068456942         19.5767796703        21.8392304645
Ghana                          8.0474403951         41.1988179067        185.9704333889
Togo                           8.0474403951         41.1988179067        185.9704333889
Switzerland                    8.1229317458         11.7973881600        6.3432406344
Denmark                        8.2671490909         36.6093063866        18.1882116891
Norway                         8.2671490909         36.6093063866        18.1882116891
Cayman Islands                 8.7187423814         45.8546567826        36.4813025505
India                          8.7187423814         45.8546567826        36.4813025505
Estonia                        9.0462756733         23.6846352695        14.4119084283
Nicaragua                      9.1280229454         23.2806501161        342.0821139144
Sweden                         9.1759972663         27.2031419278        10.5981008708
Panama                         9.4524885191         24.0312701506        121.3629670474
Finland                        9.8556245684         30.3680057918        13.3538293722
Lithuania                      10.0666089527        14.8279476951        8.5685764496
Benin                          10.3559482534        49.7574451898        221.9956089341
El Salvador                    10.4673622764        27.3680757453        90.7809315849
Honduras                       10.4673622764        27.3680757453        90.7809315849
Bangladesh                     10.5779861167        41.7255930832        14.2265748419
Bhutan                         10.5779861167        41.7255930832        14.2265748419
Saint Lucia                    10.6161697067        14.7537293134        21.5825263726
Serbia                         10.6745160239        27.6957012971        65.8984661311
Kyrgyzstan                     10.7536224479        33.0067984336        201.0427493773
Tajikistan                     10.7536224479        33.0067984336        201.0427493773
Saint Kitts and Nevis          11.3508437230        22.9992492672        91.6596366844
Jamaica                        11.4309326219        21.7332430583        123.6054672900
Belize                         11.8987981908        26.5001638542        90.5894777688
Guatemala                      11.8987981908        26.5001638542        90.5894777688
Bahamas                        12.3538520591        12.8772566109        63.8046188966
Dominican Republic             12.3849846506        23.9536463553        50.7105078037
Eswatini                       13.5061001417        61.0455661077        5813.4200733529
Lesotho                        13.5061001417        61.0455661077        5813.4200733529
Puerto Rico                    13.6104051989        18.2133628646        62.6351291720
Burkina Faso                   13.7953460559        52.1218115099        366.9741050607
Latvia                         14.0460041276        18.6789829398        31.4714656192
Gambia                         17.6301435957        35.0714362332        153.0286892572
Guinea-Bissau                  17.6301435957        35.0714362332        153.0286892572
Senegal                        17.6301435957        35.0714362332        153.0286892572
Belarus                        17.6627983633        18.0264369906        46.0684981871
Eritrea                        18.3256023585        46.1084496605        4156.9591436455
Afghanistan                    18.8445383270        41.6279164814        26.6137141886
Pakistan                       18.8445383270        41.6279164814        26.6137141886
Djibouti                       21.3917297824        52.3333373293        206.0843411955
Gabon                          21.5244100774        43.9564143092        332.2326649392
Equatorial Guinea              22.9683437028        44.1668962826        422.8015680059
Ethiopia                       23.1102863524        43.4248082215        72.5273849409

<h3>Now the difference from the values

In [822]:
rmse_comparison = []
for country, avg_rmse_d, zero_rmse_d, gl_rmse_d in sorted_ct_rmse_distance:
    for country2, avg_rmse, zero_rmse, gl_rmse in sorted_ct_rmse:
        if (country == country2):
            avg_diff = avg_rmse - avg_rmse_d
            zero_diff = zero_rmse - zero_rmse_d
            gl_diff = gl_rmse - gl_rmse_d

            rmse_comparison.append([country, avg_diff, zero_diff, gl_diff])

sorted_rmse_comparison = sorted(rmse_comparison, key=lambda x: x[1] if x[1] is not None else float('inf'))

In [823]:
# Assuming sorted_ct_rmse contains the sorted list of tuples (country, avg_rmse, zero_rmse, gl_rmse)
print("DIFFERENCE BETWEEN COUNTRY ONLY RMSE AND DISTANCE BASED RMSE")
print("-" * 80)  # Add a separator
print(f"{'Country':<30} {'LocalRMSE diff':<20} {'ZeroRMSE diff':<20} {'GlobalRMSE diff':<20}")  # Header for columns
print("-" * 80)  # Add a separator

for idx, (country, avg_rmse, zero_rmse, gl_rmse) in enumerate(sorted_rmse_comparison, start=1):
    # Check for None values before formatting floats
    avg_rmse_str = f"{avg_rmse:.10f}" if avg_rmse is not None else "N/A"
    zero_rmse_str = f"{zero_rmse:.10f}" if zero_rmse is not None else "N/A"
    gl_rmse_str = f"{gl_rmse:.10f}" if gl_rmse is not None else "N/A"

    # Use a different style for odd rows
   
    print(f"{country:<30} {avg_rmse_str:<20} {zero_rmse_str:<20} {gl_rmse_str:<20}")

DIFFERENCE BETWEEN COUNTRY ONLY RMSE AND DISTANCE BASED RMSE
--------------------------------------------------------------------------------
Country                        LocalRMSE diff       ZeroRMSE diff        GlobalRMSE diff
--------------------------------------------------------------------------------
Ethiopia                       -16.7289514986       20.6236370625        -11.9497147101
Guinea-Bissau                  -16.7228320175       24.9996828125        3797.5495246527
Eritrea                        -15.7758709453       21.9814948009        -2515.0851120044
Pakistan                       -15.6847282488       13.9937582651        -21.0708728913
Gambia                         -13.1580556508       15.4871823096        -150.6709858842
Belarus                        -12.4863704848       -10.1749176196       -22.1206973077
Puerto Rico                    -12.4129067416       -16.5863528687       -47.6265632691
Senegal                        -11.9814333564       -7.0015420740        313.7806726343
Bahamas                        -10.6645907272       -10.7819736264       -46.1754656995
Equatorial Guinea              -10.2568067333       -26.4929888943       -30.8842970512
Afghanistan                    -9.8731901565        14.3826414591        129.5222405807
Jamaica                        -9.1269950490        -18.8852494395       -48.0358399684
Burkina Faso                   -8.9436502056        -16.8285096057       -183.6726001890
Dominican Republic             -8.8556439359        -6.6499806642        -7.3846973688
Cayman Islands                 -8.7076256200        -45.8224954481       -7.9976781029
Saint Lucia                    -8.3316067206        -5.5733744616        -6.6091547644
Bangladesh                     -7.9180832582        4.9465367288         20.1292067721
Nicaragua                      -7.6204283049        11.2964272112        162.6266552840
Eswatini                       -7.3297106601        -13.3204601636       -1987.8669511358
Latvia                         -7.0744832087        0.6688046800         217.2958216652
Kyrgyzstan                     -7.0538554561        -11.7478002955       -197.6423343274
Serbia                         -6.9355933468        -11.0751140606       -18.2443333465
Bhutan                         -6.6187769166        16.7466230254        1248.9574450091
Albania                        -6.4176944122        -19.0901449592       -41.3806691979
Switzerland                    -6.3150450204        9.1115775075         12.9320992005
Ghana                          -6.3140252778        -18.5921294047       -92.1735701921
Saint Vincent and the Grenadines -6.1411858354        -1.5217442720        2.7279387265
Norway                         -6.0864942390        20.4547079463        38.3231051111
El Salvador                    -5.8807514766        -20.0564491076       -38.9203847028
Austria                        -5.6963901947        16.7759758723        14.4704121498
Hungary                        -5.2591701417        -2.7945554578        61.3238526996
Czechia                        -4.7354082846        -0.3691368372        4.9676297936
Tunisia                        -4.6962673252        12.7568434174        -6.9161525169
Honduras                       -4.5777795369        11.3413007164        151.0374071526
Azerbaijan                     -4.5725747695        -12.4414522595       -34.2811158789
Slovenia                       -4.5181484584        -14.2604140022       -3.9033064255
Italy                          -4.4589292359        -17.3153949315       10.8898611378
Burundi                        -4.2613121832        -4.6948606741        408.3219516750
Barbados                       -4.0162402898        0.0027985812         -13.3516124149
Benin                          -3.9929622661        8.6975360830         377.7905359198
Greece                         -3.9652097721        -6.0435594171        -0.5642776291
Antigua and Barbuda            -3.9631248089        -15.0228568553       0.8685033937
Finland                        -3.8993656703        -2.1814981957        -8.5956931028
North Macedonia                -3.7944450025        -8.9541708872        193.2963875688
Sweden                         -3.2594907614        11.7528814767        11.7733627009
Denmark                        -3.2318983360        -5.0024437767        15.5355888976
Uganda                         -3.0991938023        3.9084830152         57.0810808078
Netherlands                    -3.0790663827        -6.1067579481        3.7616657189
Panama                         -2.9026204800        0.3522542219         139.4634950923
Trinidad and Tobago            -2.7046776221        -5.9016187897        9.1344140477
Romania                        -2.5161929788        7.4127756239         0.4951324553
Dominica                       -2.4344027156        0.4156724463         96.3624442002
Sierra Leone                   -2.4311967475        7.9985903677         2077.7153048510
Lithuania                      -2.3966922807        5.1865626680         20.2874964579
Germany                        -2.3693314942        -11.4796239578       -7.9205898155
Poland                         -2.1874994342        -4.9794606362        -1.4998436114
Malta                          -2.0845938271        -7.6423965359        308.3841014493
Armenia                        -1.7911178594        -13.2059157375       -24.2534679729
Slovakia                       -1.7715570742        -12.0047557455       2.9525844289
Liberia                        -1.6341067263        3.7159844565         65.7386896127
Togo                           -1.5700660792        8.5058568307         138.0017730554
Grenada                        -1.5321656369        2.0628508457         1.2217869480
Costa Rica                     -1.2450796669        -6.9520320675        211.4218957902
Congo                          -1.2389552912        -16.3339380834       -23.6599096503
Turkey                         -1.1054554083        -0.4065524151        -88.6952621331
Spain                          -1.0333183548        6.3475780534         7.4239403775
Belgium                        -1.0062483038        -4.8434420259        0.5326371125
Croatia                        -0.9889465420        -13.0207363515       138.7105891958
Luxembourg                     -0.9504940804        0.8996745208         67.8483864433
Singapore                      -0.9346544042        -1.2167908605        1.1625488804
Sao Tome and Principe          -0.6532876078        26.4579953202        9107.1221482060
Lesotho                        -0.6478871129        -28.5125041596       -5530.5995501724
Guatemala                      -0.6418410642        8.3972908763         234.4552141801
Jordan                         -0.3584788215        -5.8641045330        -53.7593664566
Oman                           -0.2923119157        -0.3329125409        0.1788483467
Bahrain                        -0.1129557526        -0.1793029603        0.0076003825
Qatar                          0.0737910645         0.5342935068         0.6063616824
Kuwait                         0.1292200964         0.1141529321         -0.1291388407
United Arab Emirates           0.5812803862         0.6948591854         -0.6815373615
Suriname                       0.6239776287         0.9906401570         235.3061763596
Ireland                        0.6249687599         -1.0988882624        -3.0306342600
Malaysia                       0.6864270206         1.9763118701         1.7217358795
Lebanon                        0.6953277792         5.8072375081         22.4534685474
Nigeria                        0.7931877174         6.6958431331         9.0140161255
France                         0.9630057027         -9.4180505599        -2.9767363578
Portugal                       1.2600563548         2.7562599885         16.3327911963
Djibouti                       1.3328780352         -15.7247480508       4656.4742743509
Rwanda                         1.7704197491         3.4902868836         740.2424840858
Bulgaria                       1.9718901293         -15.0766091155       -23.5476103451
Cyprus                         2.1792524606         8.4152371652         139.6052504058
United Kingdom                 2.6626857338         -0.0462626131        -1.0886003009
Guinea                         2.9950209777         11.5727148319        434.4959011519
Cameroon                       3.2915892420         13.6244296568        256.3674371927
Georgia                        3.3801877007         14.2104390361        537.5119338897
Bosnia and Herzegovina         4.2812069962         18.6359834719        170.6294416595
Israel                         5.3506716478         2.7646813351         -19.4799285503
India                          6.8171852132         -41.6445710046       -5.5728903021
Saint Kitts and Nevis          9.5204408986         1.1630531932         -33.4982884701
Gabon                          9.9023734627         34.8281213805        -290.2013420479
Guyana                         10.2177236616        27.1578188627        1223.1344093997
Cuba                           11.0309710960        28.5008800521        9.1967289515
Montenegro                     11.2050726034        32.6617218136        3136.6387350152
Haiti                          12.6062348672        10.1013059424        240.7268141303
Belize                         18.2180588574        22.8091615051        673.4011799268
Estonia                        22.6934917344        16.2627906603        89.1162907661
Tajikistan                     27.5984348602        65.5824756036        433.9774562004